@import './base.css';

#app {
  width: 100%;          /* 设置宽度为100% */
  height: 100vh;       /* 设置高度为100vh，填充整个视口高度 */
  margin: 0;           /* 去掉外边距，确保没有间隙 */
  padding: 0;       /* 内边距保持不变，可以根据需要调整 */
  font-weight: normal; /* 字体粗细正常 */
  box-sizing: border-box; /* 包含内边距和边框在内的宽度和高度计算 */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
